table.bf-detail {
    min-width: 50%;
    margin-bottom: 1em;
}

table.bf-detail th{
    font-weight: bold;
    background: #21323C!important;
}

table.bf-detail th,
table.bf-detail td {
    padding: 0.25em 0.5em;
    border-right: 0.1em solid #000;
}

table.bf-detail th:last-child,
table.bf-detail td:last-child {
    text-align: center;
    border-right: none;
}

table.bf-detail tr {
    background: #323835;
}

table.bf-detail tr:nth-of-type(odd) {
    background: #212A29;
}

.light-theme table.bf-detail th{
    background: #c3d6e7!important;
}
.light-theme table.bf-detail tr {
    background: #EFEFEF;
}

.light-theme table.bf-detail tr:nth-of-type(odd) {
    background: #fff;
}

.closed-position
{
    text-shadow: 1px 0;
}

.slick-pane-header {
    height: auto !important;
}

.gridcell-icon{
    margin-right: 2px;
}
.gridcell-icon.green {
    text-shadow: 1px 0 #50d150;
}
.gridcell-icon.red {
    text-shadow: 1px 0 red;
}

.green{
    color:#50D150;
}

.red{
    color:red;
}

span.red {
    color: red
}

.validation-error {
    border: 1px solid #a64444;
    border-left-width: 25px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
}

.validation-error img {
    display: none;
}
