.dropzoneDisableDefaultStyles {
  /* dummy class to cause dropzone to disable default styles */
}

.dropzone {
  border: 1px dashed rgb(var(--color-primary));
  padding: var(--spacing);
  font-style: italic;
}

.dropzone_active {
  border-width: 2px;
  padding: calc(var(--spacing) - 1px);
}

.files {
  padding-left: var(--spacing);
  margin-top: var(--spacing);
  font-size: 11px;
  line-height: 1.5;
}
