<arc-layout type="column"size="1" style="overflow:hidden;">
<div id="assetClassGroupSearch">
  <div class="arc-grid__table" id="assetClassGroupSearchGrid">
    <center>
      <p>Search to load Asset Class Groups</p>
    </center>
  </div>
  </div>

<div id="assetClassList">
</div>
</arc-layout>

<arc-dialog title="Edit Asset Class Group" id="editAssetClassGroupDialog"
    sticky="true" style="height: 550px" dismissible="true">
    <div class="overlay" id = "editAssetClassGroupLoaderOverlay">
      <div class="loader loader--block form-field--center" id = "editAssetClassGroupLoader" style="width:100px">Loading</div>
    </div>



  <div class="arc-message--critical" id="editAssetClassGroupError"
        style="display: none; margin: 0 auto; text-align: center">
    </div>
  <arc-layout type="row"size="1" style="overflow:hidden;">
    <div class="form-field--split">
      <label>Effective Start Date</label>
      <div>
        <input type="text" id="assetClassEditDatePicker" style="display: inline;"/>
        <div id="assetClassEditDatePickerError" class="validation-error"></div>
      </div>
    </div>
    <br />
    <arc-layout type="column"size="1" style="overflow:hidden;">

    <div id = "allAssetClassesGridContainer" size = '3' >
      <div class="arc-grid__table" id="allAssetClassesEditGrid"
        style="width:100%; height: 100px;">

    </div>
  </div>
  <div size = '1'>
  <arc-layout type='row' size="1" style="overflow:hidden;">
    <button id = 'rightShift'> > </button>
    <br />
    <button id = 'leftShift'> < </button>
  </arc-layout>
</div>
<div id = "currentAssetClassesGridContainer" size = '3' >
<div class="arc-grid__table" id="currentAssetClassesGrid" style="width:100%;height:100%">
</div>
</div>
    </arc-layout>
    <br />
    <div>
        <center>
                <p id='attrMessage' class='arc-message'>Double click on asset
                    class names to get corresponding attribute details.</p>
            </center>
</div>
<br />
<div id="attr-details">
  <div class="arc-grid__table" id="attributesEditGrid"
    style="width: 700px; height: 80px ; visibility: hidden"></div>
</div>
<br />
  </arc-layout>


    <button class="button--primary" id="submitEditAssetClassGroup">
        Submit</button>
</arc-dialog>

<arc-dialog title="Message" id="agreementsAffectedDialog" sticky="true" dismissible="true" >
    <div class="confirmationMessage">Following are the agreements that will be afftected by this change</div>

    <table class="table table--vertical-align--top" id="agreementList" style="height : 100%; width : 205px; margin-left : 120px"/>


  <div class="dialogButtons">
        <button id="performAssetClassGroupSave" class="confirmtionButtons">Save</button>

    </div>
  </div>
</arc-dialog>


<arc-dialog title="Add Asset Class Group" id="addAssetClassGroupDialog"
    sticky="true" height = "750px" dismissible="true">
    <div class="overlay" id = "addAssetClassGroupLoaderOverlay">
      <div class="loader loader--block form-field--center" id = "addAssetClassGroupLoader" style="width:100px">Loading</div>
    </div>
<div style="width: 700px; height: 500px">
    <div class="arc-message--critical" id="assetClassGroupError"
        style="display: none; margin: 0 auto; text-align: center">
    </div>
    <div class="arc-message--critical" id="assetClassGroupNameError"
        style="display: none; margin: 0 auto; text-align: center">
    </div>
    <div style="text-align: left">
        <div class="form-field--split" style="overflow: visible;">
            <label for="">Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label> <input
                type="text" id="assetClassGroupName" size="30" />
        </div>
        <div class="form-field--split" style="overflow: visible;">
            <label for="">Description
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label> <input
                type="text" id="assetClassGroupDescription" size="30" />
        </div>
        <div class="form-field--split">
          <label>Effective Start Date</label>
          <div>
            <input type="text" id="assetClassAddDatePicker" style="display: inline;"/>
            <div id="assetClassAddDatePickerError" class="validation-error"></div>
          </div>
        </div>
        <br />

        <arc-layout type="column"size="1" style="overflow:hidden;">

        <div id = "allAssetClassesGridContainerInAdd" size = '3' >
          <div class="arc-grid__table" id="allAssetClassesGrid"
            style="width:100%; height: 100px;">

        </div>
      </div>
      <div size = '1'>
      <arc-layout type='row' size="1" style="overflow:hidden;">
        <button id = 'rightShiftInAdd'> > </button>
        <br />
        <button id = 'leftShiftInAdd'> < </button>
      </arc-layout>
    </div>
    <div id = "currentAssetClassesGridContainerInAdd" size = '3' >
    <div class="arc-grid__table" id="currentAssetClassesAddGrid" style="width:100%;height:100%">
    </div>
    </div>
        </arc-layout>

        <br />
        <center>
            <p id='attrMessage' class='arc-message'>Double click on asset
                class names to get corresponding attribute details.</p>
        </center>
        <br />
        <div id="attr-details">
            <div class="arc-grid__table" id="attributesGrid"
                style="width: 700px; height: 80px ; visibility: hidden"></div>
        </div>

    </div>
    <button class="button--primary" id="submitAddAssetClassGroup">
        Submit</button>
    <button class="button--primary right" id="addNewAssetClass">
        Add New Asset Class</button>
</div>
</arc-dialog>


<arc-dialog title="Add Asset Class" id="addAssetClassDialog"
    sticky="true" dismissible="true">
<div class="arc-message--critical" id="assetClassError"
    style="visibility: hidden; margin: 0 auto; text-align: center"></div>
<br />
<div id="addAssetClassDiv">
    <div class="form-field--split" style="overflow: visible;">
        <label for="">Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label> <input
            type="text" id="assetClassName" size="30" />
    </div>

    <div class="form-field--split" style="overflow: visible;">
        <label for="">Attribute Source Type</label>
        <arc-dropdown id="sourceTypeSelect"></arc-dropdown>
    </div>
    <div class="form-field--split" style="overflow: visible;">
        <label for="">Attribute</label>
        <arc-dropdown id="attrNameSelect"></arc-dropdown>
    </div>

    <div class="form-field--split" id="attrValueEditDiv"
        style="overflow: visible; display: none;">
        <label for="">Attribute Value</label>
        <arc-dropdown id="attrValueSelect"></arc-dropdown>
    </div>
    <div class="form-field--split" id="attrValueDiv" style="display: none;">
        <label for="">Attribute Value</label> <input type="text"
            id="attrValue" size="10" />
    </div>
    <div class="form-field--split" id="countryCurrencyFilterDiv"
        style="overflow: visible; display: none;">
        <label for="">Value</label>
        <arc-combobox id="countryCurrencyFilter"></arc-combobox>
    </div>
    <br />
    <div class="form-field--split" id="subtypeEditDiv"
        style="overflow: visible; display: none;">
        <label for="">Subtype</label>
        <arc-dropdown id="subtypeSelect"></arc-dropdown>
    </div>
    <br />
    <div>
        <div class="form-field--left">
            <button class="button--primary" id="addAssetClassAttribute">Add</button>
        </div>
        <div id="addedAttributes"></div>
        <br />
        <div class="form-field--center">
            <button class="button--primary" id="submitAssetClass" disabled="true">Submit</button>
        </div>
        <div class="form-field--right">
            <button class="button--primary" id="assetClassDone" disabled="true">Done</button>
        </div>
    </div>
</div>
</arc-dialog>

<arc-dialog title="Warning" id="assetClassErrorDialog" sticky="true" dismissible="true" >
    <div class="arc-message--warning" id="assetClassGroupErrorDiv"
        style="display: block; margin: 0 auto; text-align: center">
                <strong>You are trying to create an asset class group with no asset classes</strong>
                <p>This is expected for unsecured asset class groups.Do you wish to proceed?</p>
                <button class="button--primary margin--top margin--right" id="positiveConfirmation">Yes</button>
                <button class="button--secondary" id="negativeConfirmation">No</button>
    </div>
</arc-dialog>
