
<div class="layout--flex" id="calculatorGroupSearch">
    <div>
        <div class="arc-grid__table" id="calculatorGroupGrid" >
          <center>
            <p>Search to load results</p>
          </center>
        </div>
    </div>
    <div class="size--content">
      <arc-sidebar id="calculatorListSidebar" header="List of Calculators" collapsible="true" position="right"  hidden>
        <table class="table" id="calculatorList" />
      </arc-sidebar>
    </div>
</div>


<arc-dialog title="Add or Edit Rules" id="calculatorGroupDialog" sticky="true" dismissible="true">
  <div class="dialogSize">
    <div class="flexContainer">
      <div class="flexChild">
        <label >Legal Entity</label>
        <arc-combobox id="legalEntityFilterAdd"></arc-combobox>
      </div>
      <div class="flexChild">
        <label >Counterparty Entity</label>
        <arc-combobox id="cpeEntityFilterAdd"></arc-combobox>
      </div>
      <div class="flexChild">
        <label >Agreement Type</label>
        <arc-combobox id="agreementTypeFilterAdd"></arc-combobox>
      </div>
      <div class="flexChild">
        <label>Netting Groups</label>
        <arc-combobox id="nettingGroupFilterAdd"></arc-combobox>
      </div>
    </div>
    <div class="flexContainer">
      <div class="flexChild">
        <label>Currencies</label>
        <arc-combobox id="currencyFilterAdd"></arc-combobox>
      </div>
      <div class="flexChild">
        <label>Date</label>
        <div>
          <input type="text" id="datePickerAdd" style="display: inline;"/>
          <div id="datePickerErrorAdd" class="validation-error"></div>
        </div>
      </div>
    </div>
    <div class="flexContainer">
      <div class="flexChildBig">
        <label>Calculator Group</label>
        <arc-combobox id="calculatorGroupFilterAdd"></arc-combobox>
      </div>
    </div>
    <div class="simulateButton">
      <button id="simulateCalculatorGroupRule" class="rightFloat">Simulate</button>
    </div>
    <div class="centerAlignTextHidden" id="calculatorGroupExistingRuleLabel"><label>Existing Rules</label></div>
    <div class="arc-grid__table" id="existingCalculatorGroupRuleGrid">
    </div>
    <div class="marginTopBottom"></div>
    <div class="centerAlignTextHidden" id="calculatorGroupSimulatedRuleLabel"><label>Simulated Rules</label></div>
    <div class="arc-grid__table" id="simulatedCalculatorGroupRuleGrid">
    </div>
    <div class="saveButton">
      <button id="saveCalculatorGroupRules">Save</button>
    </div>
  </div>
</arc-dialog>
