
.sec_loading {
    background: Window url('/static/images/indicator.gif') right center no-repeat !important;
}

.sec_input {

}

.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    width: 733px !important;
}

ul.ui-autocomplete.ui-menu li {
    width: 98%;
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font-size: 11px;
    overflow: hidden;
    max-height: 30px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    font-weight:normal !important;
    border:0px !important
}

.ac-spn {
    display: inline;
    width: 15%;
}

.ac-name {
    display: inline;
    width: 45%;
}

.ac-identifier {
    display: inline;
    width: 15%;
}

.ac-type {
    display: inline;
    float: right;
}

.ac-b {
    display: block;
    float: left;
}