.dashboard__links h3 {
    line-height: 2.5em;
    font-weight: bold;
}

.slick-cell-checkboxsel {
    background: #f0f0f0;
    border-right-color: silver;
    border-right-style: solid;
}

.highlight-published {color: #7d8d8a !important}

.light-theme .highlight-published {color: #71807d !important}

.highlight-row--selected .slick-cell {
background:#4a7488 !important;
}

.highlight-row--published .slick-cell {
background:#688084 !important;
}

.slick-cell .highlight-row--critical {
background:#8E4C4C !important;
}
.slick-cell .highlight-row--critical:hover {
background:#713D3D !important;
}
.slick-cell .highlight-row--warning {
background:#B79556 !important;
}
.slick-cell .highlight-row--warning:hover {
background:#BD8826 !important;
}
.slick-cell .highlight-row--clear {
background:#5F876D !important;
}

.slick-cell .highlight-row--clear:hover {
background:#40634C !important;
}

.slick-cell .highlight-row--missing {
background:#2189b5 !important;
}

table.table {
display: block;
max-width: 100%;
overflow-x: auto;
}

table.table.treasury-table--data-summary {
max-width: 650px;
}

.display--inline-block {
display: inline-block;
}

.float--right {
float: right;
}

.margin--bottom {
margin-bottom: 5px;
}

 .grid__legend {
align-items: center;
justify-content: center;
}

.grid__legend>* {
flex: none;
}

.grid__legend>.grid__legend__color {
height: 10px;
width: 10px;
}

.grid__legend>.grid__legend__label {
margin-left: 3px;
margin-right: 10px;
}
