/* slick grid related css */
.highlight-strong .slick-cell {
    background-color: #3c6689 !important;
}

.light-theme .highlight-strong .slick-cell {
    background-color: #9ec3ea !important;
}

.validation-error {
    border: 1px solid #a64444;
    border-left-width: 25px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
}

.validation-error:before {
    position: absolute;
    font-family: 'arcesium-icon';
    content: "\e200";
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: -22px;
    top: 4px;
}

.validation-error img {
    display: none;
}

.arc-grid__table a {
    color: #5F9BBB;
}

.light-theme .arc-grid__table a {
    color: #14A9F9;
}

.save-settings-select {
    float: right;
    width: 200px;
    display: inline-block;
    padding-right: 20px;
}

.save-settings-btn {
    margin-right: 10px;
    float: right;
}

.impact-toggle-view a{
    font-size:12px;
    padding-left:10px;
}
.impact-toggle-view a.active {
     color:#000;
     cursor: default;
}
.impact-toggle-view a.active {
     color:#fff;
     cursor: default;
}
#impactDetailView {
	overflow:hidden;
}
#impactDetailView .grid-info{
    margin-top:10px;
}
.light-theme .impact-toggle-view a.active {
     color:#000;
}

.ui-daterangepicker-arrows.wide input.ui-rangepicker-input, input.ui-rangepicker-input.wide{
    text-align:left !important;
}

