div#loading-indicator {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, 0.23);
    text-align: center;
    left: 45%;
    top: 30%;
    position: absolute;
    z-index: 200;
    min-width: 200px;
}

#loading-indicator__icon {
    font-size: 3em;
    opacity: 0.75;
}

.light-theme div#loading-indicator {
    background-color: rgba(255,255,255, 0.7);
    border: solid 1px #9fbdd8;
}
