/* Common CSS being used in Treasury reports built using modern UI themes */
span.message {
    font-style: italic;
    color: rgba(255,255,255,.5);
}

.light-theme span.message {
    font-style: italic;
    color: rgba(0,0,0,.5);
}

.aln-lft {
    text-align: left;
}

.aln-cntr {
    text-align: center;
}

.aln-top {
    vertical-align: top;
}

.aln-mdl {
    vertical-align: middle;
}

.aln-btm {
    vertical-align: bottom;
}

.aln-rt {
    text-align: right;
}

.margin-top {
    margin-top: auto;
}

/*Grid related CSS*/
.grid-info {
    border: 1px solid grey;
    border-left-width: 25px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
}

.grid-info:before {
    position: absolute;
    font-family: 'arcesium-icon';
    content: "\e201";
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: -22px;
    top: 4px;
    color:#fff;
    font-weight:bold;
}

.quick-feedback {
    position: absolute;
    top:10px;
    left:0px;
    right:0px;
    border: 1px solid #afabab;
    width:300px;
    z-index: 1001;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    padding: 4px 0;
    border-radius: 3px;
}

.dark-theme .quick-feedback {
    border: 1px solid #414a48;
    background-color: #242a29;
    color:#b9b9b9;
}

.light-theme .quick-feedback {
    border: 1px solid #c9d7e3;
    background-color: #f5f5f5;
    color:#333;
}

table.popup-table td, table.popup-table th, table.popup-table td div{
    padding: 0.25em 0.5em;
}

div.error-row .slick-cell
{
    background-color: #A36C6C ;
}

/* Common CSS for application menu */ 
.application-menu-toggle-view a {
  font-size: 12px;
  padding-left: 10px;
}
.application-menu-toggle-view a.active {
  color: #000;
  cursor: default;
}
.application-menu-toggle-view a.active {
  color: #fff;
  cursor: default;
}
.light-theme .application-menu-toggle-view a.active {
  color: #000;
}
