/* Common CSS being used in Treasury Portal where gadgets are built using dportal */
.treasury-blur {
    background : #a9a9a9;
    opacity: 0.3;
    filter: alpha(opacity = 35); /* required for opacity to work in IE */
}
.treasury-sub-header {
    padding-top : 5px;
    color : #000000;
    font-style : italic;
    font-size : 0.875em;
}
.gad .select2-container .select2-choice {
    height : 12px;
    padding : 0 0 12px 8px;
}

.notes_class {
    font-size : 10px;
    font-family: calibri;
    padding: 15px;
}

.seclend-data-coverage-ok {
    background-color : #9BBB59
}

.seclend-data-coverage-threshold-exceeded {
    background-color : #FFC000
}

#cover {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: #181c1c;
    z-index: 9000;
}

.quick-feedback {
    position: absolute;
    top:10px;
    left:0px;
    right:0px;
    border: 1px solid #afabab;
    width:300px;
    z-index: 1001;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    padding: 4px 0;
    border-radius: 3px;
}
