    <div id={{myId}} ng-show="isLoaded && options.data && options.data.length">
    </div>

    <div id="divLoading" ng-hide="isLoaded">
        <p class="b dblue" style="text-align:center"><i>Loading . . .</i></p>
        <img style="position:relative;left:50%" src="/static/images/search_loading.gif"/>
    </div>

    <div id="divNoData" ng-show="isLoaded && !(options.data && options.data.length)">
        <p class="b dblue" style="text-align:center"><b>No data available.</b></p>
    </div>