<arc-sidebar id="ssuFilterSidebar" header="SEARCH"
  collapsible="true" dismissible="false" style="width:300px" class='size--content'>
  <!--Save setting related buttons-->
  <arc-panel-element collapsible="false" showheader="false" dismissible="false">
    <div class="form">
        <div class="row">
            <arc-save-settings></arc-save-settings>
            <button id="summary-search-save" class="button--tertiary size--content">
                <i class="icon-save" id="save-button" size="content"></i>
            </button>
        </div>
    </div>
   </arc-panel-element>
  <!-- Search Portfolio Section -->
  <arc-panel-element id="searchPortfolioFilters">
    <div class="message error margin--small" id="filterErrorMsg" hidden>
      <p>Please review the following errors/warnings and try again :</p>
      <ul class="bullet"></ul>
    </div>
    <div class="form">
      <div>
        <label>Legal Entities :</label>
        <arc-combobox multi-select show-tokens id="legalEntityFilter"></arc-combobox>
      </div>
      <div>
        <label>Counterparty Entities :</label>
        <arc-combobox multi-select show-tokens id="cpeFilter"></arc-combobox>
      </div>
      <div>
        <label>Agreement Types :</label>
        <arc-combobox multi-select show-tokens id="agreementTypeFilter"></arc-combobox>
      </div>
      <div>
        <div class="row"><label class="size--content">Date:</label> <input id="datePicker" type="text" /></div>
            <div id="datePickerError" class="validation-error"></div>
      </div>

    </div>
  </arc-panel-element>
  <!--Search/Reset Buttons-->
  <div slot="footer">
        <button class="button--tertiary" style="float:left;" id="copySearchURL">Copy Search URL</button>
        <button class="button--primary margin--left" style="float:right;" id="searchId">Search</button>
        <button class="button--tertiary margin--right" style="float:right;" id="clearFiltersBtn">Reset</button>
  </div>
</arc-sidebar>
