.gridHeader{
  color : white;
  text-align: left;
}

#widgetContainer{
  padding-left : 350px!important;
}

.margin-terms-table .margin-terms-table-input {
      display: none;
}

.margin-terms-table .editable .margin-terms-table-input {
  display: block;
}

.margin-terms-table .editable .margin-terms-table-label {
  display: none;
}

.selected-positions-grid {
  max-height: 50%;
}