div.hidden {
    display:none;
}

.action_btns {
    align-items : center;
    margin-top : 15px;
}

.rule-wizard>* {
  flex: 1;
}

.rule-wizard__step {
  display: flex;
  align-items: center;
  height : 50px;
}

.rule-wizard__step>* {
  flex: 1;
  cursor: pointer;
}

.rule-wizard__step__number {
  flex: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 26px;
  text-align: center;
  border: 2px solid #414a48;
}

.rule-wizard__step__label {
  flex: none;
  margin-left: 5px;
  line-height: 30px;
}

.rule-wizard__step__connector {
  height: 1px;
  border-top: 1px dotted #414a48;
  margin: 0 5px;
}

.rule-wizard__step--active>* {
  border-color: #2386ad;
  color: #2386ad;
}

.rule-wizard__step--active .rule-wizard__step__number {
  background: #2386ad;
}

.rule-wizard__step--active>.rule-wizard__step__number,
.rule-wizard__step--active>.rule-wizard__step__number>i {
  color: white;
}

.rule-wizard__step--critical>* {
  border-color: #a64444;
  color: #a64444;
}

.rule-wizard__step--critical .rule-wizard__step__number {
  background: #a64444;
}

.rule-wizard__step--critical>.rule-wizard__step__number,
.rule-wizard__step--critical>.rule-wizard__step__number>i {
  color: white;
}

.rule-wizard__step--success>* {
  border-color: #29bb2c;
  color: #29bb2c;
}

.rule-wizard__step--success .rule-wizard__step__number {
  background: #29bb2c;
}

.rule-wizard__step--success>.rule-wizard__step__number,
.rule-wizard__step--success>.rule-wizard__step__number>i {
  color: white;
}
