.notAutoApproved .approvalColumn {
  background-color: #a64444 !important;
}

.approvalColumn {
  padding: 0px !important;
  border : 0px !important;
  color: transparent !important;
}

.light-theme .issueWithAgreement .approvalColumn {
  background-color: #CCCC00 !important;
}
.issueWithAgreement .approvalColumn {
  background-color: #CCCC00 !important;
}

.notAutoApproved .approvalColumn {
  background-color: #a64444 !important;
}

.autoApproved .approvalColumn {
  background-color: #29bb2c !important;l
}

.light-theme .autoApproved .approvalColumn {
  background-color: #29bb2c !important;
}

.grouping-dropelement-container{
  display: none !important;
}

.hidden{
  display: none !important;
}

.display{
  display: block !important;
}

.light-theme .grouping-dropelement-container{
  display: none !important;
}

.icon-reject{
  display: none !important;
}

.light-theme .icon-reject{
  display: none !important;
}

.reconciliation-button {
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  float: right;
}

.all-sync-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  width: 75px;

}

.broker-adjustment-sync-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 173px;
}

.application-menu-toggle-view a {
 font-size: 12px;
           padding-left: 10px;
         }

         .application-menu-toggle-view a.active {
           color: #000;
           cursor: default;
         }

         .application-menu-toggle-view a.active {
           color: #fff;
           cursor: default;
         }

         .light-theme .application-menu-toggle-view a.active {
           color: #000;
         }

.amount {
  text-align: right;
}

.detailDataLink {
  text-align: center;
}

.dialogSize {
  width: 950px;
  min-height: 400px
}

.successful-simulation .status {
  color: #29bb2c !important;
  text-align: center;
}

.failed-simulation .status {
  color: #a64444 !important;
  text-align: center;
}

.comments {
  color: #29bb2c !important;
}

.comments .button-edit{
  display:none;
}

.comments:hover .button-edit,.icone-edit--block .inline{
  display:inline-block;
}
.button-edit,.icone-edit--block {
  border: none;
  background-color: transparent;
}

.adjustmentGridChecks input.gridGroupCheckBox.checkBoxSelect {
  display: block !important;
}

.confirmationDialogBox {
    width: 50px  !important;
    height: 50px !important;
}


.addCommentButton {
  float: right;
  margin-right: 30px;
  margin-top: 10px
}

.smallDialog {
  width: 100px;
  min-height: 400px;
  margin-right: 0px;
}

.fullWidthHeight {
  width : 100%;
  height: 100%;
}

.dialogButtons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.latest-sync{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.confirmationMessage {
    text-align: center;
}
.loadingStateMessage {
	text-align: center;
}


#saveStatus {

    text-align: center;
    width: 2000px;
	text-align: center;
	color: #a64444 !important;
    margin-bottom: 10px;
    margin-left: 10px;
}
body /deep/ .arc-dialog__panel__header__control {
	display: none !important;
}

.
