<arc-dialog title="Invalid Adjustments" id="invalidAdjustmentDialog"sticky="true" dismissible="false">
    <div>
        The selected adjustments were not simulated due to following issues. Please remove them and try again.
    </div>
    <br/>
    <div>
        <span id="inactiveBookMessage">
        </span>
    </div>
    <br/>
    <br/>
    <div>
        <span id="inactiveBundleMessage">
        </span>
     </div>
    <div class="confirmationDialogBox">
    </div>
</arc-dialog>