<arc-sidebar id="comparisonFilterSidebar" header="Financing Data Comparison Filter" collapsible="true" class="size--content" style="width:300px">
  <arc-panel-element showheader="false">
    <div class="form">
      <div style="overflow: visible">
        <label for="">Counterparty</label>
        <arc-combobox multi-select show-tokens placeholder="Select..." id="cpeFilter"></arc-combobox>
      </div>
      <div style="overflow: visible">
        <label for="">Legal Entity</label>
        <arc-combobox multi-select show-tokens placeholder="Select..." id="legalEntityFilter"></arc-combobox>
      </div>
      <div style="overflow: visible">
        <label for="">Custodian Account</label>
        <arc-combobox multi-select show-tokens placeholder="Select..." id="custodianAccountFilter"></arc-combobox>
      </div>
      <div style="overflow: visible">
        <label for="">SPN(s)</label>
        <input type="text" id="spnFilter" placeholder="Enter SPN(s)..."/>
      </div>
      <div style="overflow: visible">
        <input type="checkbox" id="differenceByQuantityFilter">
        <label>Include quantity differences</label>
      </div>
      <div style="overflow: visible">
        <label>Date</label>
        <div class="form-field__input">
          <input type="text" id="datePicker" style="display: inline;"/>
          <div id="datePickerError" class="validation-error"></div>
        </div>
      </div>
    </div>
  </arc-panel-element>
  <arc-panel-element showheader="false" type="">
    <div style="text-align: center">
      <button class="button--primary" id="comparisonSearch">Search</button>
    </div>
  </arc-panel-element>
</arc-sidebar>
