<arc-dialog id="viewEditConfigDialogBox" hidden>
    <div class='editorSection size--grow margin--left--large' id='editorSectionContainer'></div>
    <div class='container--action size--content save-reset-edit margin--large' id='saveResetEditorSection'>
        <div class='form-field'>
            <label for='comment' class='margin--double'>Comment</label>
            <input type='text' id='comment' class='margin' style='width: 385px' disabled placeholder='Please enter a comment' required>
        </div>
        <div class='message--critical margin--large' id='commentError' hidden>Please add a comment</div>
        <div class='container--action size--content no-margin--bottom auth-edit' id='saveResetSection' style='text-align: center'>
            <button class='button--primary size--double medium margin--right--double' id='saveConfigBtn' disabled>Save</button>
            <button class='button--primary size--double medium' id='resetConfigBtn' disabled>Reset</button>
        </div>
    </div>
    <div class='container--action size--content' id='closeViewEditConfigSection' style='text-align: center'>
        <button class='button--primary size--double medium' id='closeViewEditConfigBtn'>Cancel</button>
    </div>
</arc-dialog>