body{
  overflow: hidden;
}
.parent div.calcname:hover {
    background-color: #5b5e5e;
}
.calcname-btn{
  width: 100%;
  text-align: left;
}
div.selected {
    background-color: #313131;
}
.light-theme .parent div.calcname:hover {
    background-color: #c8dfea;
}
.light-theme div.selected {
    background-color: #91bed6;
}

.overlay .loader{
  width: 100px;
}
#saveResetSection>.row{
  margin: auto;
  width: 220px;
}
#comment{
  width: 80%;
}
#ssuFilterSidebar{
  width:300px;
}
#copySearchURL{
  float: left;
}
#searchId{
  float: right;
}
#clearFiltersBtn{
  float: right;
}

#cloneConfigFields
{
    width:650px
}
