<%=htmlWebpackPlugin.options.userImport%>
<%=htmlWebpackPlugin.options.codexImport%>
<%=htmlWebpackPlugin.options.cdn.import%>
<!DOCTYPE html>
<html lang="en" unlock-objects="true">
  <head>
    <style>
      .legend {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 10.4px;
      }

      .legend__item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .legend__item__swatch {
        width: 12px;
        height: 12px;
        border: 1px solid;
      }

      .application-menu-toggle-view a {
        font-size: 12px;
        padding-left: 10px;
      }

      .application-menu-toggle-view a.active {
        color: #000;
        cursor: default;
      }

      /* Common CSS being used in Treasury reports built using modern UI themes */

      span.message {
        font-style: italic;
        color: rgba(255, 255, 255, 0.5);
      }

      .light-theme span.message {
        font-style: italic;
        color: rgba(0, 0, 0, 0.5);
      }

      .aln-lft {
        text-align: left;
      }

      .aln-cntr {
        text-align: center;
      }

      .aln-top {
        vertical-align: top;
      }

      .aln-mdl {
        vertical-align: middle;
      }

      .aln-btm {
        vertical-align: bottom;
      }

      .aln-rt {
        text-align: right;
      }

      /*Grid related CSS*/

      .grid-info {
        border: 1px solid grey;
        border-left-width: 25px;
        position: relative;
        padding: 5px;
        border-radius: 4px;
      }

      .grid-info:before {
        position: absolute;
        font-family: "arcesium-icon";
        content: "\e201";
        width: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        left: -22px;
        top: 4px;
        color: #fff;
        font-weight: bold;
      }

      .sec_loading {
        background: url("<%=process.env.url%>/static/images/indicator.gif")
          right center no-repeat !important;
      }

      .sec_input {
      }

      .ui-autocomplete {
        max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: 733px !important;
      }

      ul.ui-autocomplete.ui-menu li {
        width: 98%;
        margin: 0;
        padding: 2px 5px;
        cursor: default;
        display: block;
        font-size: 11px;
        overflow: hidden;
        max-height: 30px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
      }

      .ui-state-hover,
      .ui-widget-content .ui-state-hover,
      .ui-widget-header .ui-state-hover,
      .ui-state-focus,
      .ui-widget-content .ui-state-focus,
      .ui-widget-header .ui-state-focus {
        font-weight: normal !important;
        border: 0px !important;
      }

      .ac-spn {
        display: inline;
        width: 15%;
      }

      .ac-name {
        display: inline;
        width: 45%;
      }

      .ac-identifier {
        display: inline;
        width: 15%;
      }

      .ac-type {
        display: inline;
        float: right;
      }

      .ac-b {
        display: block;
        float: left;
      }

      .quick-feedback {
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        border: 1px solid #afabab;
        width: 300px;
        z-index: 1001;
        background-color: #f5f5f5;
        margin: 0 auto;
        text-align: center;
        padding: 4px 0;
        border-radius: 3px;
      }

      .dark-theme .quick-feedback {
        border: 1px solid #414a48;
        background-color: #242a29;
        color: #b9b9b9;
      }

      .light-theme .quick-feedback {
        border: 1px solid #c9d7e3;
        background-color: #f5f5f5;
        color: #333;
      }

      table.popup-table td,
      table.popup-table th,
      table.popup-table td div {
        padding: 0.25em 0.5em;
      }

      div.error-row .slick-cell {
        background-color: #a36c6c;
      }

      /* Common CSS for application menu */

      .application-menu-toggle-view a {
        font-size: 12px;
        padding-left: 10px;
      }

      .application-menu-toggle-view a.active {
        color: #000;
        cursor: default;
      }

      .application-menu-toggle-view a.active {
        color: #fff;
        cursor: default;
      }

      .light-theme .application-menu-toggle-view a.active {
        color: #000;
      }

      .application-menu-toggle-view a.active {
        color: #fff;
        cursor: default;
      }

      .light-theme .application-menu-toggle-view a.active {
        color: #000;
      }
    </style>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8" />
    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Treasury</title>
    <script>
      var USER = "<%=htmlWebpackPlugin.options.user%>";
      var CODEX_PROPERTIES =
        <%=htmlWebpackPlugin.options.codex%>;
        var REPORTS_CODEX_PROPERTIES =
        <%=htmlWebpackPlugin.options.codex%>;
    </script>
    <script
      type="text/javascript"
      arc-components
      arc-jquery
      arc-grid
      src="<%=htmlWebpackPlugin.options.cdn.baseUrl%><%=htmlWebpackPlugin.options.cdn.version%>/components/dist/js/arc-head-imports.js"
    ></script>
    <script type="text/javascript">
      ArcThemeHandler &&
        ArcThemeHandler.addThemeChangeListener(function() {
          var href = document.querySelector("link#jquery-ui-css").href;
          if (ArcThemeHandler.getCurrentTheme() == "dark") {
            document.querySelector("link#jquery-ui-css").href = href.replace(
              "light/jquery-ui.css",
              "jquery-ui.css"
            );
          } else if (ArcThemeHandler.getCurrentTheme() == "light") {
            if (href.indexOf("light") === -1) {
              document.querySelector("link#jquery-ui-css").href = href.replace(
                "jquery-ui.css",
                "light/jquery-ui.css"
              );
            }
          }
        });

      ArcThemeHandler && ArcThemeHandler.enableThemeSelection();
    </script>
  </head>

  <body>
    <% if (process.env.ENABLE_GRID) { %>
    <script
      type="text/javascript"
      src="<%=process.env.APP_CONTEXT%>arc-grid.min.js"
    ></script>
    <% } %>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript
      >If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong> to make this app work.</noscript
    >

    <!-- The app hooks into this div -->
    <div id="page-container" style="height: 100%;">
      <div id="app" style="height: 100%;"></div>
    </div>
    <!-- A lot of magic happens in this file. HtmlWebpackPlugin automatically includes all assets (e.g. bundle.js, main.css) with the correct HTML tags, which is why they are missing in this HTML file. Don't add any assets here! (Check out webpackconfig.js if you want to know more) -->
  </body>
</html>
