.confirmationDialogBox {
  width: 50px !important;
  height: 50px !important;
}

.confirmationMessage {
  text-align: center;
}

.dialogButtons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.horizontalSeparator {
  height: 1px;
  border: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-color: rgb(51, 77, 93);
}

.application-menu-toggle-view a {
  font-size: 12px;
  padding-left: 10px;
}

.application-menu-toggle-view a.active {
  color: #000;
  cursor: default;
}

.application-menu-toggle-view a.active {
  color: #fff;
  cursor: default;
}

.light-theme .application-menu-toggle-view a.active {
  color: #000;
}

.textArea {
  width: 100%;
  resize: none;
}

.flexContainer {
  display: -webkit-flex;
  display: flex;
  text-align: left;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.flexContainerColumn {
  display: -webkit-flex;
  display: flex;
  text-align: left;
  margin-bottom: 5px;
  justify-content: flex-start;
  flex-direction: column;
}

.flexChild {
  width: 210px;
  margin-left: 5px;
  margin-right: 5px;
}

.flexChildBig {
  width: 210px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 0 0;
}

.flexChildSmall {
  width: 130px;
  margin-left: 5px;
  margin-right: 5px;
}

.simulateButton {
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.rightFloat {
  float: right;
}

.centerAlignTextHidden {
  text-align: center;
  visibility: hidden
}

.saveButton {
  float: right;
  margin-right: 30px;
  margin-top: 10px
}

.dialogSize {
  width: 950px;
  min-height: 400px
}

.smallDialog {
  width: 758px;
  min-height: 400px;
  margin-right: 0px;
}

.marginTopBottom {
  margin-top: 20px;
  margin-bottom: 20px
}

.topBarButton {
  margin-right: 4px;
  float: right;
  margin-bottom: 6px;
}
