/*
This file contains basic styling to make grid work even w/o framework, and Won't be updated with framework changes.
It is advised to not use this file and instead load official framework for stlying grid.
 */


@charset "UTF-8";
/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
/* ARCESIUM GLOBALS
   ========================================================================== */
/* Typeface
============================================================================= */
/* Box Model
============================================================================= */
/* Box Model
============================================================================= */
/* line 3, ../../../../src/scss/global/_class.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 9, ../../../../src/scss/global/_class.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../../../../src/scss/global/_class.scss */
.flex--row, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 29, ../../../../src/scss/global/_class.scss */
.flex--row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Icons
============================================================================= */
/* THEME
   ========================================================================== */
/* line 78, ../../../../src/scss/theme/_dark.scss */
.critical {
  color: #bf5050;
}

/* line 83, ../../../../src/scss/theme/_dark.scss */
.warning {
  color: #b19b29;
}

/* line 88, ../../../../src/scss/theme/_dark.scss */
.success {
  color: #558a44;
}

/* line 93, ../../../../src/scss/theme/_dark.scss */
.neutral {
  color: grey;
}

/*============================================
=HTML Defaults================================
============================================*/
/*============================================
=Scrollbar====================================
============================================*/
/*============================================
=Panel========================================
============================================*/
/*============================================
=Input========================================
============================================*/
/*============================================
=Button=======================================
============================================*/
/*============================================
=Token========================================
============================================*/
/*============================================
=arc-tab-panel================================
============================================*/
/*============================================
=arc-panel-element============================
============================================*/
/*============================================
=arc-sidebar==================================
============================================*/
/*============================================
=arc-header===================================
============================================*/
/*============================================
=arc-header-callouts==========================
============================================*/
/*============================================
=arc-banner===================================
============================================*/
/*============================================
=arc-banner-element===========================
============================================*/
/*============================================
=arc-callout==================================
============================================*/
/*============================================
=arc-dialog===================================
============================================*/
/*============================================
=arc-dropdown=================================
============================================*/
/*============================================
=arc-timeline=================================
============================================*/
/*============================================
=arc-toggle-group=============================
============================================*/
/*============================================
=arc-combobox-multi===========================
============================================*/
/*============================================
=arc-combobox=================================
============================================*/
/*============================================
=arc-grid=====================================
============================================*/
/* TO BE PHASED OUT
   ========================================================================== */
/* line 13, ../../../../src/scss/component/arc-grid/default.scss */
.slickgrid-container .slick-header-column {
  /*slick-header-columns slick-header-columns-left ui-sortable is set to -1000px*/
  left: 1000px;
}

/* line 18, ../../../../src/scss/component/arc-grid/default.scss */
.slick-column-name {
  font-weight: normal;
}

/* line 22, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell input[type='checkbox'], .slick-header-column input[type='checkbox'] {
  margin-left: 3px;
  margin-top: 3px;
  background: none !important;
  width: 13px;
  height: 13px;
}

/* line 30, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-column.ui-state-default {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 2px 1px 5px 1px;
  border: 0px;
  border-left: 1px solid #414A48;
  height: 20px;
  background: none;
  background-color: rgba(5, 6, 6, 0.35);
  color: #B9B9B9 !important;
  font-size: 12px;
}

/* line 47, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pane-header {
  height: 25px;
}

/* line 51, ../../../../src/scss/component/arc-grid/default.scss */
.slick-headerrow-column.ui-state-default {
  padding-top: 8px;
  height: 100%;
}

/* line 56, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-column-sorted {
  font-style: italic;
}

/* line 60, ../../../../src/scss/component/arc-grid/default.scss */
.slick-sort-indicator {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 8px;
  height: 5px;
}

/* line 68, ../../../../src/scss/component/arc-grid/default.scss */
.slick-sort-indicator-desc {
  background: url(images/sort-desc.gif);
}

/* line 72, ../../../../src/scss/component/arc-grid/default.scss */
.slick-sort-indicator-asc {
  background: url(images/sort-asc.gif);
}

/* line 76, ../../../../src/scss/component/arc-grid/default.scss */
.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

/* line 87, ../../../../src/scss/component/arc-grid/default.scss */
.slick-sortable-placeholder {
  background: silver;
}

/* line 91, ../../../../src/scss/component/arc-grid/default.scss */
.grid-canvas {
  position: relative;
  outline: 0;
  overflow: hidden;
}

/* line 97, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

/* line 103, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row.ui-widget-content.highlight-onmove .slick-cell {
  background-color: rgba(77, 82, 81, 0.8) !important;
}

/* line 107, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell, .slick-headerrow-column {
  position: absolute;
  background-color: #323835;
  color: #B9B9B9;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
  font-weight: 100;
  line-height: 21px;
  font-size: 12px;
}

/* line 124, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row {
  border: 0px !important;
}

/* line 133, ../../../../src/scss/component/arc-grid/default.scss */
.slick-group-toggle {
  display: inline-block;
  margin-right: 4px;
}

/* line 138, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 147, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell.flashing {
  border: 1px solid red !important;
}

/* line 151, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell.editable {
  z-index: 1005;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

/* line 159, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell:focus {
  outline: none;
}

/* line 163, ../../../../src/scss/component/arc-grid/default.scss */
.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity=15);
  cursor: move;
}

/* line 172, ../../../../src/scss/component/arc-grid/default.scss */
.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* line 180, ../../../../src/scss/component/arc-grid/default.scss */
.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}

/* line 186, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row.ui-widget-content.even, .even .slick-cell {
  background-color: #222826;
  color: #B9B9B9;
}

/* line 193, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pane {
  position: absolute;
  outline: 0;
  overflow: hidden;
  width: 100%;
}

/* line 200, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pane-header {
  display: block;
}

/* line 204, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header {
  overflow: hidden;
  position: relative;
}

/* line 209, ../../../../src/scss/component/arc-grid/default.scss */
.slick-headerrow {
  overflow: hidden;
  position: relative;
}

/* line 214, ../../../../src/scss/component/arc-grid/default.scss */
.slick-top-panel-scroller {
  overflow: hidden;
  position: relative;
}

/* line 219, ../../../../src/scss/component/arc-grid/default.scss */
.slick-top-panel {
  width: 10000px;
}

/* line 223, ../../../../src/scss/component/arc-grid/default.scss */
.slick-viewport {
  position: relative;
  outline: 0;
  width: 100%;
}

/* Menu button */
/* line 230, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-menubutton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../images/down.gif);
  cursor: pointer;
  display: none;
  border-left: thin ridge silver;
}

/* line 245, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-column:hover > .slick-header-menubutton,
.slick-header-column-active .slick-header-menubutton {
  display: inline-block;
}

/* Menu */
/* line 251, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-menu {
  position: absolute;
  display: inline-block;
  margin: 0;
  cursor: default;
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 2px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  z-index: 20;
}

/* Menu items */
/* line 267, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-menuitem {
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}

/* line 276, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-menuicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 286, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}

/* line 291, ../../../../src/scss/component/arc-grid/default.scss */
.multiSelect {
  background: rgba(0, 0, 255, 0.2) !important;
}

/*cascading filterbox related classes */
/* line 296, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox {
  float: none;
  position: relative;
  width: auto;
  min-width: 100px;
}

/* line 304, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-highlight-dropbox-hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  border: 2px solid #AAA;
  opacity: 0.2;
}

/* line 312, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-highlight-dropbox-active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  border: 2px solid black;
}

/* line 319, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-container {
  width: 100%;
  border-bottom: 1px solid #414A48;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  font-size: 0.96em;
  padding: 2px 0px 4px 0px;
}

/* line 329, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox {
  padding-left: 5px;
  padding-right: 5px;
  height: 140px;
  display: inline-table;
  position: relative;
  z-index: 1;
  margin-left: 2px;
}

/* line 339, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-header {
  display: block;
}

/* line 343, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filerbox-header h5 {
  line-height: 20px;
}

/* line 347, ../../../../src/scss/component/arc-grid/default.scss */
select.cascadefilter-filterbox-select {
  height: 120px;
  margin-bottom: 5px;
  clear: left;
  float: left;
  position: relative;
  width: auto;
  font-size: inherit;
  min-width: 90px;
  max-width: 250px;
  border: solid 1px #414A48;
  background-color: #000;
  color: #B9B9B9;
}

/* line 362, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-clear-disabled {
  background: #414A48;
  color: #B9B9B9;
  opacity: 0.5;
}

/* line 368, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-clear {
  background: #414A48;
  opacity: 1;
  color: #B9B9B9;
}

/* line 375, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-clear:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  cursor: pointer;
}

/* line 382, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-togglebar {
  text-align: center;
  margin-bottom: 0.25em !important;
  float: right;
}

/* added this class for togglebar children */
/* line 389, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-togglebar > a {
  background: #414A48 !important;
  color: #B9B9B9 !important;
  opacity: 1 !important;
  box-shadow: none !important;
  border: none !important;
  font-size: .9em;
  border-radius: 0.2em !important;
  margin-left: 0.25em;
}
/* line 398, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-togglebar > a:first-child {
  margin-left: 0;
}

/* line 403, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-toggle {
  padding: 4px;
  color: #B9B9B9 !important;
  text-decoration: none;
  background: #414A48 !important;
  border: none !important;
  font-size: 0.9em;
  border-radius: 0 !important;
}
/* line 411, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-filterbox-toggle i.icon-tool__filter {
  display: none;
}

/* line 416, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-config-outerdiv {
  float: left;
  width: 175px;
  height: 400px;
}

/* line 422, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-config-selectbox-header {
  margin-top: 10px;
  text-shadow: 1px 1px 1px #5a5454;
  font-size: 15px;
  text-align: left;
  position: relative;
  float: left;
}

/* line 431, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-column-table tbody tr td {
  padding: 0 0 0 10px;
  height: 25px;
}

/* line 437, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-column-table thead th {
  border: 1px solid #D5DDE0;
  font-weight: bold;
  font-size: 13px;
}

/* line 443, ../../../../src/scss/component/arc-grid/default.scss */
.filter-config-columns-lister {
  margin-top: 44px;
  height: 325px;
  background: white;
  width: 173px;
  overflow-y: scroll;
  text-transform: capitalize;
  border: 1px solid #424442;
}

/* line 453, ../../../../src/scss/component/arc-grid/default.scss */
.ui-dialog .ui-dialog-title {
  font-size: 12px;
}

/* line 457, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-column-table tbody tr td {
  border: 1px solid #f8f5f5;
}

/* line 461, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-column-table .ui-selecting {
  background: transparent;
}

/* line 465, ../../../../src/scss/component/arc-grid/default.scss */
.cascadefilter-column-table .ui-selected {
  background: #63A1F2;
}

/* line 469, ../../../../src/scss/component/arc-grid/default.scss */
.table-row-data {
  height: 25px;
}

/* line 473, ../../../../src/scss/component/arc-grid/default.scss */
#cascadefilter-configure-icon {
  opacity: 0.5;
  margin-bottom: 5px;
  padding: 0px 1px;
}

/* line 479, ../../../../src/scss/component/arc-grid/default.scss */
#cascadefilter-configure-icon:hover {
  opacity: 1;
}

/* MSB Related css, for column chooser and filter configuration */
/* line 484, ../../../../src/scss/component/arc-grid/default.scss */
#smartMSBFloater, #smartMSBChooserFloater {
  /*fixing the positioning issue*/
  position: absolute !important;
  border: 1px solid #000000;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.71);
  padding: 8px;
  background-color: #1B1F1F;
}

/* line 493, ../../../../src/scss/component/arc-grid/default.scss */
#qMsbChooser {
  background: transparent url("/static/images/search_icon.gif") no-repeat right;
  background-color: #000;
}

/* line 499, ../../../../src/scss/component/arc-grid/default.scss */
.floater {
  font: 8pt verdana, sans-serif;
  position: absolute;
  z-index: 300;
  left: auto;
  top: auto;
  display: none;
  padding: 2px;
  margin: 0;
}

/* line 510, ../../../../src/scss/component/arc-grid/default.scss */
.floater td {
  font-family: verdana;
  font-size: 8pt;
}

/* line 515, ../../../../src/scss/component/arc-grid/default.scss */
TABLE.inline-select TD {
  font: 100% verdana !important;
}

/* line 519, ../../../../src/scss/component/arc-grid/default.scss */
TD.container {
  padding: 10px 15px 5px 15px;
}

/* MSB inline select */
/* line 525, ../../../../src/scss/component/arc-grid/default.scss */
.select-icn {
  background: url(/static/images/select-icn.gif) no-repeat left top;
  height: 100%;
  padding: 3px 5px 2px 21px;
  float: left;
  clear: right;
}

/* line 533, ../../../../src/scss/component/arc-grid/default.scss */
.select-txt {
  padding: 1px 3px 3px 3px;
  margin: -3px 2px 5px 0;
  float: left;
  clear: right;
  line-height: 14px;
}

/* line 541, ../../../../src/scss/component/arc-grid/default.scss */
.select-txt-fixed {
  padding-bottom: 0px;
  float: none;
  display: inline;
}

/* line 548, ../../../../src/scss/component/arc-grid/default.scss */
A.inline-select-clear {
  background: url(/static/images/undo-icn.gif) no-repeat left top;
  padding: 3px 5px 3px 22px;
  width: 5em;
  margin-top: -3px;
  text-decoration: none;
}

/* line 556, ../../../../src/scss/component/arc-grid/default.scss */
A.inline-select-clear:HOVER {
  padding: 2px 5px 1px 22px;
  width: 5em;
  margin-top: -2px;
  text-decoration: none;
}

/* line 562, ../../../../src/scss/component/arc-grid/default.scss */
.inline-select-btns {
  white-space: nowrap;
}

/* line 566, ../../../../src/scss/component/arc-grid/default.scss */
.inline-select-btns INPUT {
  width: 50%;
  border: none !important;
  font-weight: bold;
  padding: 3px 0 3px 0;
}

/* line 573, ../../../../src/scss/component/arc-grid/default.scss */
.move-to-btn :before {
  content: "&#x2190";
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 579, ../../../../src/scss/component/arc-grid/default.scss */
.dashed-line-btn {
  background: url(/static/images/next.gif) buttonface no-repeat right 50%;
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 585, ../../../../src/scss/component/arc-grid/default.scss */
.remove-btn {
  background: url(/static/images/previous.gif) buttonface no-repeat center 50%;
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 591, ../../../../src/scss/component/arc-grid/default.scss */
.add-all-btn {
  background: url(/static/images/add-all.gif) buttonface no-repeat center 50%;
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 597, ../../../../src/scss/component/arc-grid/default.scss */
.remove-all-btn {
  background: url(/static/images/remove-all.gif) buttonface no-repeat center 50%;
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 603, ../../../../src/scss/component/arc-grid/default.scss */
.move-up-btn {
  content: "&#x2190";
  cursor: hand !important;
  cursor: pointer !important;
}

/* line 609, ../../../../src/scss/component/arc-grid/default.scss */
.move-down-btn {
  content: "&#x2190";
  cursor: hand !important;
  cursor: pointer !important;
}

/*pager related css*/
/* line 616, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager {
  width: 100%;
  height: 26px;
  border: 1px solid #414A48;
  border-top: 0;
  vertical-align: middle;
  background-color: #2A2E2E;
}

/* line 625, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .slick-pager-status {
  display: inline-block;
  padding: 6px;
}

/* line 630, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .ui-icon-container {
  display: inline-block;
  margin: 2px;
  border-color: #414A48;
  background: #333;
}

/* line 637, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .slick-pager-nav {
  display: inline-block;
  float: left;
  padding: 2px;
}

/* line 643, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .slick-pager-settings {
  display: block;
  float: right;
  padding: 2px;
}

/* line 649, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .slick-pager-settings * {
  vertical-align: middle;
}

/* line 653, ../../../../src/scss/component/arc-grid/default.scss */
.slick-pager .slick-pager-settings a {
  padding: 2px;
  text-decoration: underline;
  cursor: pointer;
}

/*fixing scroller*/
/* line 660, ../../../../src/scss/component/arc-grid/default.scss */
.slick-top-panel-scroller {
  overflow: hidden;
  position: relative;
}

/* line 665, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell-checkboxsel {
  background: #f0f0f0;
  border-right-color: silver;
  border-right-style: solid;
  text-align: center;
  padding-left: 3px;
}

/* line 673, ../../../../src/scss/component/arc-grid/default.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 682, ../../../../src/scss/component/arc-grid/default.scss */
#grid__panel-droppable span.grid__message.grouping-placeholder-text {
  font-size: .96em;
  font-style: italic;
  color: rgba(185, 185, 185, 0.5) !important;
  float: left;
}

/* line 690, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell.selected {
  background-color: #3c6689 !important;
}

/* line 694, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row.ui-widget-content.highlight-onmove .slick-cell.selected {
  background-color: #375975 !important;
}

/* line 698, ../../../../src/scss/component/arc-grid/default.scss */
.slick-row.slick-clicked-row .slick-cell {
  background-color: #4d80ac !important;
}

/* line 702, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell, .slick-headerrow-column {
  border-right: 1px dotted #414A48;
}

/* jquery css override */
/* line 707, ../../../../src/scss/component/arc-grid/default.scss */
.ui-widget {
  font-family: "Roboto", Arial, sans-serif !important;
}

/* line 711, ../../../../src/scss/component/arc-grid/default.scss */
.slick-group-title {
  min-width: 60px;
}

/* line 715, ../../../../src/scss/component/arc-grid/default.scss */
#grid__panel-droppable {
  min-height: 10px;
  float: left;
}

/* line 720, ../../../../src/scss/component/arc-grid/default.scss */
a#grid__panel-configure-filter {
  color: #B9B9B9 !important;
  background: #414A48 !important;
  box-shadow: none !important;
  border: none !important;
  font-size: .9em;
}

/* line 728, ../../../../src/scss/component/arc-grid/default.scss */
.dgrid-interactive-icon.grouping-sortable-column-containers {
  float: left;
  vertical-align: middle;
  font-size: 0.85em;
  border-radius: 3px;
  line-height: 15px;
  display: inline-block;
  cursor: pointer;
  background-color: #414A48;
  margin: 3px 2px 0px 2px;
}

/* line 740, ../../../../src/scss/component/arc-grid/default.scss */
span.grouped-column-tag-name {
  padding: 0px 5px;
  background: rgba(65, 74, 72, 0.9);
  margin-top: 1px;
  display: inline-block;
}

/* line 747, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns, .slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

/* line 754, ../../../../src/scss/component/arc-grid/default.scss */
.fa-expand-row:before {
  content: '\f196' !important;
}

/* line 758, ../../../../src/scss/component/arc-grid/default.scss */
.fa-collapse-row:before {
  content: "\f147" !important;
}

/* line 762, ../../../../src/scss/component/arc-grid/default.scss */
.fa-expand-row:before {
  content: "\f196" !important;
}

/* line 766, ../../../../src/scss/component/arc-grid/default.scss */
.fa-select-columns:before {
  content: "\f0db" !important;
}

/* line 770, ../../../../src/scss/component/arc-grid/default.scss */
a.grouping-close-icon {
  color: #B9B9B9;
  display: inline-block;
  background-color: #596562;
  border-radius: 0 3px 3px 0;
  padding: 0 5px;
  font-size: 9px;
  line-height: 16px;
  height: 14px;
}

/* line 782, ../../../../src/scss/component/arc-grid/default.scss */
a.grouping-close-icon.close-spn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* line 786, ../../../../src/scss/component/arc-grid/default.scss */
.fa-angle-triple-up {
  content: inherit;
}

/* line 790, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns span.separator {
  float: left;
}

/* line 794, ../../../../src/scss/component/arc-grid/default.scss */
td#smartMSBChooserFloaterContent tr:nth-child(2) td:nth-child(1) {
  vertical-align: top;
}

/* line 798, ../../../../src/scss/component/arc-grid/default.scss */
td#trSelectedElements {
  vertical-align: top;
  padding-top: 30px;
}

/* line 803, ../../../../src/scss/component/arc-grid/default.scss */
td#smartMSBChooserFloaterContent tr:nth-child(2) th:nth-child(1) {
  vertical-align: middle;
}

/* line 807, ../../../../src/scss/component/arc-grid/default.scss */
i.dgrid-interactive-icon {
  cursor: pointer;
}

/* line 811, ../../../../src/scss/component/arc-grid/default.scss */
.fa-angle-triple-up:before {
  content: none !important;
}

/* line 815, ../../../../src/scss/component/arc-grid/default.scss */
div#grid__panel-header {
  width: 100% !important;
}

/* line 819, ../../../../src/scss/component/arc-grid/default.scss */
.filterMsgClose {
  color: #B9B9B9 !important;
  cursor: pointer;
}

/* line 823, ../../../../src/scss/component/arc-grid/default.scss */
.filterMsgText {
  height: 15px !important;
  padding-right: 20px;
}

/* line 831, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker {
  border: 1px solid #718BB7;
  background: #323835;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  cursor: default;
}

/* line 842, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: none;
}

/* line 850, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker input {
  margin: 4px;
}

/* line 854, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker label {
  color: white;
  font-weight: bold;
}

/* line 859, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker li a {
  display: block;
  padding: 4px;
  font-weight: bold;
}

/* line 865, ../../../../src/scss/component/arc-grid/default.scss */
.slick-columnpicker li a:hover {
  background: white;
}

/* line 869, ../../../../src/scss/component/arc-grid/default.scss */
.slick-headerrow {
  background: #21323C;
  text-overflow: clip;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
}

/* line 876, ../../../../src/scss/component/arc-grid/default.scss */
.slick-headerrow-column {
  background: #21323C;
  text-overflow: clip;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
}

/* line 883, ../../../../src/scss/component/arc-grid/default.scss */
.slick-headerrow-column input {
  margin: 0;
  width: 95% !important;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: inherit;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 5px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

/* line 896, ../../../../src/scss/component/arc-grid/default.scss */
.slick-viewport {
  border: 0px;
}

/* line 900, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header {
  border: 0px;
  /*border-top: solid 1px rgba(127, 127, 127, 0.1);*/
}

/* line 905, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-column, .slick-header-columns {
  background: #21323C !important;
  border-right: 2px solid #334d5d !important;
  border-bottom: 0px solid !important;
}

/* line 911, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns, .slick-headerrow {
  border: 1px solid #334d5d !important;
  border-bottom: 0px !important;
}

/* line 916, ../../../../src/scss/component/arc-grid/default.scss */
.slickgrid-container {
  border: 1px solid #334d5d !important;
}

/* line 920, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns > div > span,
.slick-header-columns > div > i {
  padding: 2px 3px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  color: #B9B9B9 !important;
}
/* line 928, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns > div > span > span,
.slick-header-columns > div > i > span {
  color: #B9B9B9 !important;
}

/* line 933, ../../../../src/scss/component/arc-grid/default.scss */
.slick-cell > .autocomplete-editor.ui-autocomplete-input {
  background: #3F4342;
}

/* line 936, ../../../../src/scss/component/arc-grid/default.scss */
#smartMSBChooserFloaterContent select[multiple] {
  background-color: #000;
  border: 1px solid #414A48;
  color: #B9B9B9;
  padding: 2px;
  outline: none;
}

/* line 945, ../../../../src/scss/component/arc-grid/default.scss */
.grouping-outer-drop-holder.slick-header-columns.grouping-holder {
  width: 100% !important;
}

/* line 956, ../../../../src/scss/component/arc-grid/default.scss */
#grid__panel-grouping-toggleAllGroups-expand, #grid__panel-grouping-toggleAllGroups-collapse {
  width: auto !important;
}

/* line 959, ../../../../src/scss/component/arc-grid/default.scss */
.slick-header-columns.slick-header-columns-left.ui-sortable {
  border: 0px !important;
}

/* line 963, ../../../../src/scss/component/arc-grid/default.scss */
#trAvailableElements .ui-wrapper, #trAvailableElements .ui-wrapper {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

/* line 967, ../../../../src/scss/component/arc-grid/default.scss */
#trSelectedElements .ui-wrapper select, #trAvailableElements .ui-wrapper select {
  width: 100% !important;
}

/* line 971, ../../../../src/scss/component/arc-grid/default.scss */
.filterGroup {
  z-index: 900;
  border: 1px solid #414A48;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.71);
  padding: 8px;
  background-color: #1B1F1F;
}
/* line 977, ../../../../src/scss/component/arc-grid/default.scss */
.filterGroup .content {
  background-color: #1B1F1F;
  border: 1px solid #414A48 !important;
}

/* line 988, ../../../../src/scss/component/arc-grid/default.scss */
.gridAdvanceSearchOptions {
  z-index: 900;
  border: 1px solid #414A48;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.71);
  padding: 8px;
  background-color: #1B1F1F;
}
/* line 994, ../../../../src/scss/component/arc-grid/default.scss */
.gridAdvanceSearchOptions .content {
  background-color: #1B1F1F;
  cursor: pointer;
}
/* line 997, ../../../../src/scss/component/arc-grid/default.scss */
.gridAdvanceSearchOptions .content table {
  width: auto !important;
}
/* line 1002, ../../../../src/scss/component/arc-grid/default.scss */
.gridAdvanceSearchOptions .content tr.dgrid-advanced-filter-options:hover {
  background: rgba(77, 82, 81, 0.8);
}

@font-face {
  font-family: Grid-Icons;
  src: url(../assets/font/Grid-Icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
/* line 1022, ../../../../src/scss/component/arc-grid/default.scss */
[class*=" fa-"],
[class^=fa-] {
  font-family: Grid-Icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1036, ../../../../src/scss/component/arc-grid/default.scss */
.fa-begins-with:before {
  content: "";
}

/* line 1040, ../../../../src/scss/component/arc-grid/default.scss */
.fa-between:before {
  content: "";
}

/* line 1044, ../../../../src/scss/component/arc-grid/default.scss */
.fa-clear-filtering:before {
  content: "";
}

/* line 1048, ../../../../src/scss/component/arc-grid/default.scss */
.fa-contains:before {
  content: "";
}

/* line 1052, ../../../../src/scss/component/arc-grid/default.scss */
.fa-does-not-begin-with:before {
  content: "";
}

/* line 1056, ../../../../src/scss/component/arc-grid/default.scss */
.fa-does-not-contain:before {
  content: "";
}

/* line 1060, ../../../../src/scss/component/arc-grid/default.scss */
.fa-does-not-end-with:before {
  content: "";
}

/* line 1064, ../../../../src/scss/component/arc-grid/default.scss */
.fa-ends-with:before {
  content: "";
}

/* line 1068, ../../../../src/scss/component/arc-grid/default.scss */
.fa-equal:before {
  content: "";
}

/* line 1072, ../../../../src/scss/component/arc-grid/default.scss */
.fa-greater-than:before {
  content: "";
}

/* line 1076, ../../../../src/scss/component/arc-grid/default.scss */
.fa-greater-than-or-equal:before {
  content: "";
}

/* line 1080, ../../../../src/scss/component/arc-grid/default.scss */
.fa-less-than:before {
  content: "";
}

/* line 1084, ../../../../src/scss/component/arc-grid/default.scss */
.fa-less-than-or-equal:before {
  content: "";
}

/* line 1088, ../../../../src/scss/component/arc-grid/default.scss */
.fa-not-equal:before {
  content: "";
}

/* line 1092, ../../../../src/scss/component/arc-grid/default.scss */
.light-theme {
  /*============================================
  =Color Variables==============================
  ============================================*/
  /*============================================
  =HTML Defaults================================
  ============================================*/
  /*============================================
  =Scrollbar====================================
  ============================================*/
  /*============================================
  =Panel========================================
  ============================================*/
  /*============================================
  =Input========================================
  ============================================*/
  /*============================================
  =Button=======================================
  ============================================*/
  /*============================================
  =Token========================================
  ============================================*/
  /*============================================
  =arc-tab-panel================================
  ============================================*/
  /*============================================
  =arc-panel-element============================
  ============================================*/
  /*============================================
  =arc-sidebar==================================
  ============================================*/
  /*============================================
  =arc-header===================================
  ============================================*/
  /*============================================
  =arc-header-callouts==========================
  ============================================*/
  /*============================================
  =arc-banner===================================
  ============================================*/
  /*============================================
  =arc-banner-element===========================
  ============================================*/
  /*============================================
  =arc-callout==================================
  ============================================*/
  /*============================================
  =arc-dialog===================================
  ============================================*/
  /*============================================
  =arc-dropdown=================================
  ============================================*/
  /*============================================
  =arc-timeline=================================
  ============================================*/
  /*============================================
  =arc-toggle-group=============================
  ============================================*/
  /*============================================
  =arc-combobox-multi===========================
  ============================================*/
  /*============================================
  =arc-combobox=================================
  ============================================*/
  /*============================================
  =arc-grid=====================================
  ============================================*/
  /*
  IMPORTANT:
  In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
  No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
  classes should alter those!
  */
  /* added this class for togglebar children */
  /* MSB Related css, for column chooser and filter configuration */
  /*pager related css*/
  /* jquery css override */
}
/* line 82, ../../../../src/scss/theme/_light.scss */
.light-theme .critical {
  color: #bf5050;
}
/* line 87, ../../../../src/scss/theme/_light.scss */
.light-theme .warning {
  color: #b19b29;
}
/* line 92, ../../../../src/scss/theme/_light.scss */
.light-theme .success {
  color: #558a44;
}
/* line 97, ../../../../src/scss/theme/_light.scss */
.light-theme .neutral {
  color: grey;
}
/* line 11, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-header-column.ui-state-default {
  border-left: 1px solid #C9D7E3;
  color: #333 !important;
}
/* line 15, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-row.ui-widget-content.highlight-onmove .slick-cell {
  background-color: #C3D6E7 !important;
}
/* line 19, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-cell, .light-theme .slick-headerrow-column {
  background-color: #EFEFEF;
  color: #333;
}
/* line 24, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-row.ui-widget-content.even, .light-theme .even .slick-cell {
  background-color: #FFF;
  color: #333;
}
/* line 30, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-container {
  border-bottom: 1px solid #C9D7E3;
}
/* line 34, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme select.cascadefilter-filterbox-select {
  border: solid 1px #C9D7E3;
  background-color: #FAFAFA;
  color: #333;
}
/* line 40, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-clear-disabled {
  background: #C5CFD8;
  color: #333;
}
/* line 45, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-clear {
  background: #C5CFD8;
  color: #333;
}
/* line 51, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-togglebar {
  margin-bottom: 0.25em !important;
}
/* line 56, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-togglebar > a {
  background: #C5CFD8 !important;
  color: #333 !important;
  border-radius: 0.2em !important;
  margin-left: 0.25em;
}
/* line 63, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .cascadefilter-filterbox-toggle {
  color: #333 !important;
  background: #C5CFD8 !important;
}
/* line 69, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme #smartMSBFloater, .light-theme #smartMSBChooserFloater {
  background-color: #FAFCFF;
}
/* line 73, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme #qMsbChooser {
  background-color: #FAFAFA;
}
/* line 79, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-pager {
  border: 1px solid #C9D7E3;
  background-color: #c3d6e7;
}
/* line 84, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-pager .ui-icon-container {
  border-color: #C9D7E3;
  background: #7A8FA2;
}
/* line 89, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme #grid__panel-droppable span.grid__message.grouping-placeholder-text {
  color: rgba(51, 51, 51, 0.5) !important;
}
/* line 92, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-cell.selected {
  background-color: #9ec3ea !important;
}
/* line 97, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-cell, .light-theme .slick-headerrow-column {
  border-right: 1px dotted #C9D7E3 !important;
}
/* line 103, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme a#grid__panel-configure-filter {
  color: #333 !important;
  background: #C5CFD8 !important;
}
/* line 108, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .dgrid-interactive-icon.grouping-sortable-column-containers {
  background-color: #B9CADA;
}
/* line 112, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme span.grouped-column-tag-name {
  background: rgba(185, 202, 218, 0.9);
}
/* line 116, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme a.grouping-close-icon {
  color: #333;
  background-color: #dae3ec;
}
/* line 120, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .filterMsgClose {
  color: #333 !important;
}
/* line 124, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-headerrow {
  background: #c3d6e7;
}
/* line 127, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-headerrow-column {
  background: #c3d6e7;
}
/* line 131, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-header-column, .light-theme .slick-header-columns {
  background: #c3d6e7 !important;
  border-right: 2px solid #9fbdd8 !important;
}
/* line 136, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-header-columns, .light-theme .slick-headerrow {
  border: 1px solid #9fbdd8 !important;
  border-bottom: 0px !important;
}
/* line 141, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slickgrid-container {
  border: 1px solid #9fbdd8 !important;
}
/* line 145, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-header-columns > div > span,
.light-theme .slick-header-columns > div > i {
  color: #333 !important;
}
/* line 148, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .slick-header-columns > div > span > span,
.light-theme .slick-header-columns > div > i > span {
  color: #333 !important;
}
/* line 153, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme #smartMSBChooserFloaterContent select[multiple] {
  background-color: #FAFAFA;
  border: 1px solid #C9D7E3;
  color: #333;
  padding: 2px;
  outline: none;
}
/* line 162, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .filterGroup {
  border: 1px solid #C9D7E3;
  background-color: #FAFCFF;
}
/* line 165, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .filterGroup .content {
  background-color: #FAFCFF;
  border: 1px solid #C9D7E3 !important;
}
/* line 172, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .gridAdvanceSearchOptions {
  border: 1px solid #C9D7E3;
  background-color: #FAFCFF;
}
/* line 175, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .gridAdvanceSearchOptions .content {
  background-color: #FAFCFF;
}
/* line 179, ../../../../src/scss/component/arc-grid/_theme.scss */
.light-theme .gridAdvanceSearchOptions .content tr.dgrid-advanced-filter-options:hover {
  background: #C3D6E7;
}
